<div
  *ngIf="!tokenStored"
  id="g_id_onload"
  data-skip_prompt_cookie="sid"
  [attr.data-client_id]="clientId"
  data-context="signup"
  data-ux_mode="popup"
  data-auto_select="true"
  data-itp_support="false"
  data-callback="credencialResponse"
></div>
<div
  *ngIf="!tokenStored"
  class="g_id_signin"
  data-type="standard"
  data-shape="rectangular"
  data-theme="outline"
  data-text="signup_with"
  data-size="large"
  data-logo_alignment="center"
></div>
<img *ngIf="tokenStored" src="{{ imgUrl() }}" alt="User Logo" />
