<form class="content" [formGroup]="planForm">
   <div class="card-shadow">
      <mat-form-field 
            class="textarea"
            appearance="outline"
            floatLabel='always'>
         <mat-label>Actividad inicial</mat-label>
         <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="6"
            placeholder="Textarea autoajustable"
            formControlName="actividadInicial">
         </textarea>
         <!-- <mat-hint *ngIf="pista"></mat-hint> -->
      </mat-form-field>
      <fechas-rango />
      <!-- <backdrop /> -->
      <pre><code> {{ planForm.getRawValue() | json }} </code></pre>
   </div>
   
   <actividad formArrayName="activitiesForm"
      *ngFor="let activityForm of activitiesForm"
      [activityForm]="activityForm"
      class="card-shadow"
   />
   <div class="card-shadow"
        *ngIf="showCierre">
      <mat-form-field 
            class="textarea"
            appearance="outline"
            floatLabel='always'>
         <mat-label>Observaciones</mat-label>
         <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="6"
            placeholder="Textarea autoajustable"
            formControlName="observaciones">
         </textarea>
         <!-- <mat-hint *ngIf="pista"></mat-hint> -->
      </mat-form-field>
      <mat-form-field 
            class="textarea"
            appearance="outline"
            floatLabel='always'>
         <mat-label>Cierre</mat-label>
         <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="6"
            placeholder="Textarea autoajustable"
            formControlName="cierre">
         </textarea>
         <!-- <mat-hint *ngIf="pista"></mat-hint> -->
      </mat-form-field>
   </div>

</form>