<form class="content" [formGroup]="planForm">
   <div class="card-shadow">
      <mat-form-field 
            class="textarea"
            appearance="outline"
            floatLabel='always'>
         <mat-label>Actividad inicial</mat-label>
         <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            placeholder="Textarea autoajustable"
            formControlName="actividadInicial">
         </textarea>
         <!-- <mat-hint *ngIf="pista"></mat-hint> -->
      </mat-form-field>
      <fechas-rango />
      <backdrop />
   </div>
   
   <div formArrayName="activitiesForm"
      *ngFor="let activity of activities; let i = index"
      class="card-shadow">
      <actividad          
         [activityDate]="activity.fecha"
         [formGroupName]="actividadFormGroup"
      />
   </div>
</form>