<mat-card>
   <mat-card-content>

      <form action="">
         <mat-form-field 
               class="textarea"
               appearance="outline"
               floatLabel='always'>
            <mat-label>Actividad inicial</mat-label>
            <textarea matInput
               cdkTextareaAutosize
               #autosize="cdkTextareaAutosize"
               cdkAutosizeMinRows="1"
               cdkAutosizeMaxRows="5"
               placeholder="Textarea autoajustable"
               [value]="actividadInicial">
            </textarea>
            <!-- <mat-hint *ngIf="pista"></mat-hint> -->
         </mat-form-field>
         
         <fechas-rango></fechas-rango>
         
         <backdrop></backdrop>

      </form>

   </mat-card-content>
</mat-card>

<mat-card>
   <mat-card-content>
      Contenido de tarjeta
   </mat-card-content>
</mat-card>