<mat-form-field class="fechas" appearance="outline">
   <mat-label>Rango de Fechas</mat-label>
   <mat-date-range-input 
         [formGroup]="dateRange" 
         [rangePicker]="picker" 
         [dateFilter]="weekendDisable"
         [min]="dateMin"
         [max]="dateMax">
      <input matStartDate formControlName="start" placeholder="Fecha inicio">
      <input matEndDate formControlName="end" placeholder="Fecha final">
   </mat-date-range-input>
   <mat-hint>Ciclo Escolar  {{ dateMin | date:'yyy' }} - {{ dateMax | date:'yyy' }}</mat-hint>
   <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
   <mat-date-range-picker 
         #picker [dateClass]="dateClass" 
         (closed)="onDateRangeChange()">
   </mat-date-range-picker>
</mat-form-field>
<pre><code>{{ dateRange.valid }}</code></pre>